@charset "utf-8";
 .oh2ie{ position:relative; line-height:1.4em; height:4.2em; overflow:hidden; }
 .oh2ie:after { content:"..."; font-weight:bold; position:absolute; bottom:0; right:0; padding:0 20px 1px 45px; background:url(http://css88.b0.upaiyun.com/css88/2014/09/ellipsis_bg.png) repeat-y; }
