@charset "utf-8";
/*test page css 当前演示页面布局样式*/
 body{background: #f5f5f5;}
 div.testbox{width: 80%; margin: 15px auto 30px;background: #fff;border: 10px solid #fff; box-shadow: 0 2px 15px 2px rgba(0,0,0,0.2);max-width: 320px;} 
 .ts{text-shadow: 0 2px 0 rgba(255,255,255,0.7);}






.qi-footer{font-size: 0.625em;color: #aaa; width: 80%;max-width: 320px;}

 /*new*/
 .item{padding: 50px;}
 .i2iconspan span{margin: 20px;} 